.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main_btn{
    padding: 10px;
    color: white;
    border: 0;
    background: linear-gradient(90deg, #38EE7E 0%, #1FA49B 100%);
    box-shadow: 0px 4px 14px rgba(44, 203, 139, 0.3);
    border-radius: 6px;
}