<form class="regist_form" routerLink="/" [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="registr_container">
            <h2 class="regist_title">Create Acount</h2>
            <p class="registr_subtitle">Let`s get productive toghether</p>
            <div class="field_container">
                <div class="field">
                    <label for="name" class="label">Full Name*</label>
                    <input class="registr_input" id="name" type="name" formControlName="name" placeholder="Enter full name">
                </div>
                <div class="field">
                    <label for="username" class="label">Username*</label>
                    <input class="registr_input" id="username" type="username" formControlName="username" placeholder="Enter username">
                </div>
            </div>
            <div class="field_container">
                <div class="field">
                    <label for="email" class="label">Email*</label>
                    <input class="registr_input" id="email" type="email" formControlName="email" placeholder="Enter email">
                    <span class="error" *ngIf="form.get('email')?.invalid && form.get('email')?.touched">Please enter valid email address</span>
                </div>
                <div class="field">
                    <label for="phone" class="label">Phone number*</label>
                    <input class="registr_input" id="phone" type="tel" formControlName="phone" placeholder="Enter your phone number">
                </div>
            </div>
            <div class="field_container">
                <div class="field">
                    <label for="address" class="label">Address line*</label>
                    <input class="registr_input" id="address"  placeholder="Enter your address">
                </div>
                <div class="field">
                    <label for="suite" class="label">Suite</label>
                    <input class="registr_input" id="suite" >
                </div>
            </div>
            <div class="field_container">
                <div class="field">
                    <label for="city" class="label">City*</label>
                    <input class="registr_input" id="city" placeholder="Enter city">
                </div>
                <div class="field">    
            <label for="ZIP" class="label">ZIP Code*</label>
            <input class="registr_input" id="ZIP">
                </div>
            </div>
            <button class="registr_btn" [disabled]="form.invalid || form.disabled" type="submit">Create Account</button>
        </div>
    </form>
