.regist_form {
    display: flex;
    justify-content: center;
    align-items: center;
}
.registr_container {
    border: 1px solid gray;
    border-radius: 6px;
    padding: 80px;
    text-align: center;
    padding: 60px;
}

.field_container {
    display: flex;
    justify-content: space-around;
}
.regist_title{
    margin: 0;
    font-size: 32px;
}
.registr_subtitle{
    font-size: 14px;
}
.field {
    margin-top: 20px;
    margin-left: 20px;
}
.label {
    display: block;
    text-align: start;
}
.registr_input {
    padding: 5px;
    border-radius: 6px;
    border: 1px solid gainsboro;
}
.error {
    display: block;
}
.registr_btn{
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    color: white;
    border-radius: 6px;
    border: 1px solid gainsboro;
    background: linear-gradient(270deg, #1EA39B 0%, #38EF7D 100%);
}