<div class="app">
  <div class="header">
    <div class="logo"><img src="../assets/logo1.svg"><div>
    <hr>
  </div>
  <div class="main">
    <div class="main_container">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>