<app-add-todo></app-add-todo>
<ul routerLink="/todos">
    <li *ngFor="let todo of todosService.todos">
        <div class="todo" [class.done] ="todo.completed">
            <span>
                <input type="checkbox" [checked]="todo.completed">
            </span>
            {{todo.title}}
        </div>
        <div class="btns">
            <mat-icon>border_color</mat-icon>
            <mat-icon (click)="deleteTodo(todo.id)">delete_outline</mat-icon>
        </div>
    </li>
</ul>