ul {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 1rem;
}
li {
    border: 1px solid rgb(150, 149, 149);
    border-radius: 6px;
    margin-top: 1rem;
    padding: 10px 10px 10px 20px;
    display: flex;
    justify-content: space-between;
}
.done {
    text-decoration: line-through;
}