<div class="contact_info">
    <div class="contact_name">{{contactItem.name}}</div>
    <div class="contact_number">+{{contactItem.number}}</div>
    <button class="delete_btn">delete</button>
    <button class="update_btn">update</button>
    <button class="details_btn" routerLink="/details">details</button>
</div>
