<div class="add_contact">
    <input name="name" placeholder="Enter name" [(ngModel)]="contactName">
    <input name="number" placeholder="Enter number" [(ngModel)]="contactNumber">
    <button class="add_contact" (click)="addContact()">Add new contact</button>
</div>

