<h1 class="contacts_title">List of contacts</h1>
<h4>SEARCH</h4>
<hr>
<input class="contacts_search" placeholder="Search contact" [(ngModel)]="searchContact">
<button class="search_btn">Search</button>
<h4>ADD NEW CONTACT</h4>
<hr>
<app-add-contact (onAddContact)="udateContactList($event)"></app-add-contact>
<app-contact *ngFor="let contact of contacts | filterContact: searchContact" [contactItem]="contact"></app-contact>

