
.dialog_cross {
    display: flex;
    justify-content: flex-end;
}
.dialog_title {
    text-align: center;
}
.dialog_textarea {
    width: 100%;
    border-radius: 1px solid gainsboro;
    border-radius: 6px;
    
}
.dialog_btn {
    width: 100%;
}
.dialog_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background: linear-gradient(270deg, #1EA39B 0%, #38EF7D 100%);
    box-shadow: 0px 4px 14px rgba(44, 203, 139, 0.3);
    border-radius: 6px;
    border: 0;
}
.dialog_icon {
    margin-left: 80px;
}