<form class="dialog"  [formGroup]="form" (ngSubmit)="addToDo()">
    <div class="dialog_cross">
        <mat-icon>clear</mat-icon>
    </div>
    <h2 class="dialog_title" mat-dialog-title>{{data?.title}}</h2>
    <textarea class="dialog_textarea" placeholder="Start typing..." formControlName="title" ></textarea>
    <mat-dialog-actions>
        <button class="dialog_btn" mat-button type="submit" [mat-dialog-close]="data.title" cdkFocusInitial>
            <span>Save ToDo</span>
            <div class="dialog_icon">
                <mat-icon>trending_flat</mat-icon>
            </div>
        </button>
    </mat-dialog-actions>
</form>


    


